pycupra_to_MM.json
[
    {
        "id": "55e74c31b3def666",
        "type": "tab",
        "label": "Cubra",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1931e15cb0ab70bd",
        "type": "file in",
        "z": "55e74c31b3def666",
        "name": "",
        "filename": "/home/pi/pycupra/example/pycupra_all_attributes.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 640,
        "y": 60,
        "wires": [
            [
                "133791ed03d83cb2"
            ]
        ]
    },
    {
        "id": "8d1a63c02d0909b5",
        "type": "mqtt out",
        "z": "55e74c31b3def666",
        "name": "",
        "topic": "Alexa/Torsten/Cupra",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4a3cc56ed9dd522",
        "x": 1160,
        "y": 60,
        "wires": []
    },
    {
        "id": "133791ed03d83cb2",
        "type": "function",
        "z": "55e74c31b3def666",
        "name": "function 4",
        "func": "let text = msg.payload;\n\n// Eindeutige ID generieren, um CSS-Konflikte zu vermeiden\nconst uniqueId = \"car_ui_\" + Math.random().toString(36).substr(2, 9);\n\nconst getValue = (regex, input) => {\n    const match = input.match(regex);\n    return (match && match[1]) ? parseFloat(match[1]) : 0;\n};\n\nconst getLockStatus = (input) => {\n    const regex = /['\"]locked['\"]\\s*:\\s*(true|false)/i;\n    const match = input.match(regex);\n    if (match) {\n        return match[1].toLowerCase() === \"true\";\n    }\n    return false;\n};\n\nlet daten = {\n    Reichweite:     getValue(/rangeKm['\"]\\s*:\\s*([\\d.]+)/, text),\n    Tankfüllung:    getValue(/levelPct['\"]\\s*:\\s*([\\d.]+)/, text),\n    ÖlWechsel_Tage: getValue(/oilServiceDueDays['\"]\\s*:\\s*([\\d.]+)/, text),\n    ÖlWechsel_KM:   getValue(/oilServiceDueKm['\"]\\s*:\\s*([\\d.]+)/, text),\n    IstVerschlossen: getLockStatus(text)\n};\n\nlet lockClass = daten.IstVerschlossen ? \"status-locked\" : \"status-open\";\nlet lockText  = daten.IstVerschlossen ? \"Verschlossen\" : \"OFFEN\";\nlet tankClass = (daten.Tankfüllung < 5) ? \"critical-blink\" : (daten.Tankfüllung < 20 ? \"warning-red\" : \"normal\");\n\nmsg.payload = `\n<style>\n    /* Alle Regeln beginnen nun mit der einzigartigen ID */\n    #${uniqueId}.fahrzeug-container {\n        display: flex;\n        flex-direction: column;\n        gap: 6px;\n        padding: 5px 5px 5px 80px;\n        text-align: left;\n    }\n    #${uniqueId} .info-row { \n        font-size: 0.9em; \n        line-height: 1.2; \n        color: #ffffff; /* Nur Text innerhalb dieses Widgets wird weiß */\n    }\n    #${uniqueId} .label { color: #aaaaaa; margin-right: 5px; }\n    \n    #${uniqueId} .status-locked { color: #4CAF50; font-weight: bold; }\n    #${uniqueId} .status-open { color: #ff9800; font-weight: bold; }\n    #${uniqueId} .normal { color: #ffffff; }\n    #${uniqueId} .warning-red { color: #ff4d4d; font-weight: bold; }\n    \n    #${uniqueId} .critical-blink { \n        color: #ff4d4d; \n        font-weight: bold; \n        animation: ${uniqueId}_blinker 1s linear infinite; \n    }\n    \n    @keyframes ${uniqueId}_blinker { 50% { opacity: 0.1; } }\n</style>\n\n<div id=\"${uniqueId}\" class=\"fahrzeug-container\">\n    <div class=\"info-row\">\n        <span class=\"label\">Status:</span> \n        <span class=\"${lockClass}\">${lockText}</span>\n    </div>\n    <div class=\"info-row\">\n        <span class=\"label\">Reichweite:</span> \n        <span class=\"normal\">${daten.Reichweite.toLocaleString('de-DE')} km</span>\n    </div>\n    <div class=\"info-row\">\n        <span class=\"label\">Tank:</span> \n        <span class=\"${tankClass}\">${daten.Tankfüllung}%</span>\n    </div>\n    <div class=\"info-row\">\n        <span class=\"label\">Öl-Service:</span> \n        <span class=\"normal\">${daten.ÖlWechsel_Tage} Tage / ${daten.ÖlWechsel_KM.toLocaleString('de-DE')} km</span>\n    </div>\n</div>\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 60,
        "wires": [
            [
                "8d1a63c02d0909b5",
                "bb8718bd8daf8f2e"
            ]
        ]
    },
    {
        "id": "ae9694af1969ac66",
        "type": "cronplus",
        "z": "55e74c31b3def666",
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 */15 6-21 * * 1-7",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "schedule2",
                "topic": "topic2",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0  22-6 * * 1-7",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 100,
        "y": 60,
        "wires": [
            [
                "388aff5f303504f8",
                "076ec2e08a2d9a4d"
            ]
        ]
    },
    {
        "id": "388aff5f303504f8",
        "type": "exec",
        "z": "55e74c31b3def666",
        "command": "cd /home/pi/pycupra/example && /home/pi/pycupra/pycupra_env/bin/python3 PyCupra.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "076ec2e08a2d9a4d",
        "type": "delay",
        "z": "55e74c31b3def666",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "1931e15cb0ab70bd"
            ]
        ]
    },
    {
        "id": "bb8718bd8daf8f2e",
        "type": "debug",
        "z": "55e74c31b3def666",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 140,
        "wires": []
    },
    {
        "id": "a4a3cc56ed9dd522",
        "type": "mqtt-broker",
        "name": "MQTT-Server",
        "broker": "192.168.2.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7308f4fbcfab45ca",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-cron-plus": "2.2.4"
        }
    }
]